<div class="container">
  <h3 class="text-center mt100 mb20">Придумайте пароль</h3>
  <div class="row no-gutters">
    <div class="col-6 mx-auto">
      <form class="container-beige p20">
        <div class="">
          <label for="companyName" class="d-block">Пароль</label>
          <div class="p-relative">
            <input [type]="isVisible1 ? 'text' : 'password'" class="d-inline-block w100 input-default mb20" id="companyName" aria-describedby="companyName">
            <i *ngIf="!isVisible1" class="material-icons password-eye" (click)="isVisible1 = !isVisible1">visibility_off</i>
            <i *ngIf="isVisible1" class="material-icons password-eye" (click)="isVisible1 = !isVisible1">visibility_on</i>
          </div>
        </div>
        <div class="">
          <label for="companyName" class="d-block">Повторите пароль</label>
          <div class="p-relative">
            <input [type]="isVisible2 ? 'text' : 'password'" class="d-inline-block w100 input-default mb20" id="companyName" aria-describedby="companyName">
            <i *ngIf="!isVisible2" class="material-icons password-eye" (click)="isVisible2 = !isVisible2">visibility_off</i>
            <i *ngIf="isVisible2" class="material-icons password-eye" (click)="isVisible2 = !isVisible2">visibility_on</i>
          </div>
        </div>
        <button type="submit" class="button-default b-big w100">Зарегистрироваться</button>
      </form>
    </div>
  </div>
</div>





