$darkblue-color:  #373B53;
$grey-color: #969CBA;
$purple-color: #713BDB;

.dashboard-logo {
  background: $purple-color;
  color: #ffffff;
  font-weight: 600;
}

.dashboard-ul {
  height: 97.4vh;
  background: $darkblue-color
}

.dashboard-li {
  font-weight: 500;
  padding: 15px 30px;
  color: $grey-color;
}

.dashboard-li-active {
  background: linear-gradient(to right, $purple-color, 1%, $darkblue-color);
  color: #ffffff;
}

.dashboard-li_icon-container {
  margin-right: 20px;
}