$milk-color: #EDEDF6;
$light-purple-color: rgb(170, 143, 224);
$light-green-color: rgb(164, 212, 196);
$light-red-color: rgb(255, 191, 199);
$light-blue-color: rgb(194, 230, 255);
$light-yellow-color: rgb(253, 234, 184);
$light-orange-color: rgb(250, 197, 148);
$purple-color: #713BDB;
$green-color: #33D69F;
$red-color: #FF4C61;
$blue-color: #4CB8FF;
$yellow-color: #FFB800;
$orange-color: #FF7A00;
$darkblue-color:  #3A4276;
$grey-color: rgb(128, 132, 145);


.table-info-li {
  
}

.table-info__padding-container {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #cccccc;
  margin: 5px;
  padding: 12px;
}

.hall-container {
  background: $milk-color;
}

.table-info-div {
  margin: 10px 0;
}

.table-info__icon {
  padding: 5px 0px 0px 6px;
  width: 35px;
  height: 35px;
  border-radius: 18px;
  color: darkblue-color;
}

.table-info__icon-people {
  background: $light-purple-color;
}

.table-info__icon-alarm {
  background: $light-green-color;
}

.table-info__icon-timer {
  background: $light-red-color;
}

.table-info__icon-phone {
  background: $light-blue-color;
}

.table-info__icon-person {
  background: $light-orange-color;
}

.table-info__icon-comment {
  background: $light-yellow-color;
}

.table-info__text {
  color: $grey-color;
  padding: 5px;
}

.table-comment-dropdown__div {
  position: absolute;
  box-shadow: 2px 2px 8px #cccccc;
  width: 95%;
  border-radius: 10px;
  right: 2.5%;
  z-index: 1;
  height: 100px;
  background: #ffffff;
  box-shadow: 3px 5px 14px #505050;
}

.table-comment-dropdown__textarea {
  border: none;
  width: 100%;
  height: 95%;
  z-index: 1;
  padding: 5px;
  border-radius: 10px;
}

.table-status-div {
  border-radius: 10px;
  box-shadow: 2px 2px 8px #cccccc;
  margin: 5px;
  padding: 12px;
  position: absolute;
  width: 97.9%;
  height: 97%;
}

.table-info-li:hover .table-status-div{
  visibility: hidden;
}

.table-status-div__red {
  background: #7a0000b2;
}

.table-status-div__green {
  background: #007a29b2;
}

.table-status-div__orange {
  background: #7a6e00b2;
}

.table-status-div__red .table__number {
  color: $light-red-color;
  border: 7px solid $light-red-color;
}

.table-status-div__green .table__number {
  color: $light-green-color;
  border: 7px solid $light-green-color;
}

.table-status-div__orange .table__number {
  color: $light-orange-color;
  border: 7px solid $light-orange-color;
}

.table__number {
  font-size: 120px;
  border-radius: 20px;
  margin-top: 13%;
  width: 57%;
  height: 67%;
  margin-left: 22%;
}
// bootstrap----------------------------------------

.dropdown-toggle::before {
  margin-bottom: 2px;
  margin-left: 2px;
}

.dropdown-toggle {
  background: #fdeab8 !important;
  color: #FFB800 !important;
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 8px;
  border-radius: 10px;
}

