<div class="container">
  <h3 class="text-center mt100 mb20">Зарегистрировать компанию</h3>
  <div class="row no-gutters">
    <div class="col-6 mx-auto">
      <form class="container-beige p20">
        <div class="">
          <label for="companyName" class="d-block">Название компании</label>
          <input type="text" class="d-inline-block w100 input-default mb20" id="companyName" aria-describedby="companyName">
        </div>
        <div class="">
          <label for="companyName" class="d-block">Email</label>
          <input type="text" class="d-inline-block w100 input-default mb20" id="companyName" aria-describedby="companyName">
        </div>
        <div class="">
          <label for="companyName" class="d-block">ФИО</label>
          <input type="text" class="d-inline-block w100 input-default mb20" id="companyName" aria-describedby="companyName">
        </div>
        <div class="">
          <label for="companyName" class="d-block">Телефон</label>
          <input type="text" class="d-inline-block w100 input-default mb20" id="companyName" aria-describedby="companyName">
        </div>
        <div class="">
          <label for="companyName" class="d-block">Адрес (место расположения)</label>
          <input type="text" class="d-inline-block w100 input-default mb20" id="companyName" aria-describedby="companyName">
        </div>
        <button type="submit" class="button-default b-big w100">Далее</button>
      </form>
    </div>
  </div>
</div>


