<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <ul>
        <li>
          Схема зала
          <i class="material-icons">room_service</i>
        </li> 
        <li>
          Персонал
          <i class="material-icons">assignment_ind</i>
        </li>
        <li>
          Уведомления
          <i class="material-icons">notifications</i>
        </li>
        <li>
          Выход
          <i class="material-icons">exit_to_app</i>
        </li>
      </ul>
    </div>
    <div class="col-10">
      2222
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

